# Ignoring everything initially keeps this ignore file much simpler.
**

# Keep files.
# Note `package.json` and `README.md` are implied.
!LICENSE

!images/

!out/*.js
# Most effective way to ignore `out/test` is to include named directories.
!out/generate/**/*.js
!out/git/**/*.js
!out/lib/**/*.js
