name: Node CI

on:
  push:
    paths-ignore:
      - "docs/**"
      - README.md

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"

      - name: Get cached dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm install

      - name: Lint code
        run: npm run lint:check

      - name: Compile
        run: npm run compile

      # Use unit rather than `test`, to skip the pretest step, otherwise that
      # would duplicate steps above.
      - name: Unit tests (without coverage report)
        run: npm run test:unit
        env:
          CI: true
